body, html {
	height: 100%;
	width: 100%;
	margin: 0%;
}

* {
	box-sizing: border-box;
	user-select: none;
}

.wrap_enemy {
	width: 15%;
	height: 30%;
	margin: auto;
}

.enemy {
	width: 100%;
	height: 80%;
	border: 2px solid;
}

.hp {
	width: 100%;
	height: 100%;
	background-color: rgb(255, 0, 0);
}
.hp_bar {
	width: 100%;
	height: 20%;
	background-color: #ffa3a3;
	font-size: 20px;
	color: #fff;
}
.body {
	background-image: url(https://www.teahub.io/photos/full/98-987227_dark-souls-4k-desktop-background.jpg);
	background-size: cover;
}

