body, html {
	height: 100%;
	width: 100%;
	margin: 0%;
	perspective: 1000px;
}

* {
	box-sizing: border-box;
	user-select: none;
}

.stage1_wrap {
	width: 100%;
	height: 100%;
}

.inventory {
	height: 12%;
	width: 20%;
	position: absolute;
	bottom: 3vmin;
	left: 2vmin;
	background-color: hsl(36deg 100% 52% / 15%);
	display: flex;
	flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.slot {
	width: 25%;
	height: 100%;
	border: hsl(36deg 100% 22%) 2px solid;
	transition: 0.2s;
}

.slot:hover {
	background-color:hsl(36deg 100% 72% / 30%	);
}

.wrap_enemy {
	width: 17%;
	height: 40%;
	margin: auto;
	position: absolute;
	bottom: 0%;
	left: 41.5%; 
}

.enemy {
	position: relative;
	width: 100%;
	height: 80%;
	background-size: cover;
}

.skeleton {
	background-image: url(./images/Skeleton.png);
}
.frog {
	background-image: url(./images/frog.png);
}

.hp {
	width: 100%;
	height: 100%;
	background-color: hsl(0deg 100% 45% / 50%);
}

.hp_bar {
	width: 100%;
	height: 9%;
	background-color: hsl(0deg 100% 82% / 50%);
	font-size: 20px;
	color: #fff;
}

.body {
	background-image: url(images/gf3.gif);
	transition: 1s;
	background-size: cover;
	overflow: hidden;
	background-position-y: 100%;	
}

.stage1 {
	background-image: url(./images/stage_1_background.jpg);
}

.stage2 {
	background-image: url(./images/stage_2_background.jpg);
}

.number_dmg {
	position: absolute;
	width: 1.5%;
	height: 10%;
	margin: auto;
	color: #ff000091;
	z-index: 1;
	pointer-events: none;
	transition: 0.5s;
	font-size: 35px;
	opacity: 0;
	animation: 1.5s dmg2 cubic-bezier(0.4, 0, 1, 1);
}

.anime_death {
	animation: 2s death_rotate linear forwards,
	2s death_opacity linear forwards; 
}

.item {
	position: absolute;
	width: 5%;
	height: 10%;
	transition: 0.4s;
	background-repeat: no-repeat;
	background-size: contain;
}

.hero_hp {
	position: fixed;
	bottom: 17%;
	left: 0.7%;
	height: 5%;
	width: 20%;
	background-color: hsl(0deg 100% 82% / 50%);
	font-size: 20px;
	color: #fff;
}

.dmg_to_hero {
	width: 100%;
	height: 100%;
	/* box-shadow: inset #ff000091 1px 1px 20px 9px; */
}

.anime {
	animation: 2s dmg_to_hero_animation linear forwards;
}

@font-face {
    font-family: Txt; 
    src: url(fonts/RubikBeastly-Regular.ttf); 
   }

.dv{
        		margin-top: 1.5%;
				text-align: center;
				font-size: 37px;
				 color: #FFD201;
}

.GameName{
				font-family: Txt;
				text-align: center;
				font-size: 94px;
				 color: DarkOrange;
}
		
 .menuBtn  {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  user-select: none;
  padding: .3em 1.1em;
  border: 1px solid rgb(80,32,0);
  border-radius: 5px;
  outline: none;
  background: rgb(147,80,36) linear-gradient(rgb(106,58,26), rgb(147,80,36) 80%);
  box-shadow:
   0 6px rgb(86,38,6),
   0 3px 15px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  transition: .2s;
} 

.menuBtn:hover {
  background: rgb(167,91,41) linear-gradient(rgb(126,69,31), rgb(167,91,41) 80%);
}

.menuBtn:active {
  background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
  box-shadow:
   0 2px rgb(86,38,6),
   0 1px 6px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
			
.name{
  margin-top: 4%;
  text-align: center;
  font-size: 37px;
  margin-bottom: 6%;
}

